---
import { Icon } from "astro-icon/components"
---

<div class="absolute inset-0 overflow-hidden z-0">
  <div
    class="absolute top-[20vh] w-[70vw] h-[50vh] bg-gradient-to-r from-blue-500 to-purple-600
    rounded-tr-full rounded-br-full blur-3xl opacity-20 animate-pulse custom-pulse"
  >
  </div>
  <div class="fixed bottom-0 right-4 flex flex-col items-center gap-4">
    <a
      id="github-link"
      aria-label="Visit WDIAZDEV GitHub profile"
      href="https://github.com/WDiazDev"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon
        name="mdi:github"
        size={40}
        class="text-gray-400 hover:text-blue-500 transition-colors duration-300 cursor-pointer"
      />
    </a>
    <div class="h-[126px] w-[2px] bg-gray-400"></div>
  </div>
</div>

<style>
  @keyframes customPulse {
    0%,
    100% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
  }

  .custom-pulse {
    animation: customPulse 6s ease-in-out infinite;
  }
</style>
