---

---

<div class="absolute inset-0 overflow-hidden z-0">
  <div
    class="absolute top-[20vh] w-[70vw] h-[50vh] bg-gradient-to-r from-blue-500 to-purple-600
    rounded-tr-full rounded-br-full opacity-20 animate-pulse custom-pulse
    shadow-[0px_20px_40px_60px_#bef264] blur-3xl"
  >
  </div>
</div>

<style>
  @keyframes customPulse {
    0%,
    100% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
  }

  .custom-pulse {
    animation: customPulse 6s ease-in-out infinite;
  }
</style>
