---
import { Icon } from "astro-icon/components"
---

<div class="fixed bottom-0 right-4 flex flex-col items-center gap-4 z-100">
  <a
    id="github-link"
    aria-label="Visit WDIAZDEV GitHub profile"
    href="https://github.com/WDiazDev"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon
      name="mdi:github"
      class="text-4xl text-gray-400 hover:text-lime-200 transition-colors duration-300 cursor-pointer"
    />
  </a>
  <div class="h-[126px] w-[2px] bg-gray-400"></div>
</div>
