---
export interface Props {
  images: string[]
  slug: string
  name: string
}

const { images = [], name } = Astro.props

const delay = 4000
const total = delay * (images?.length ?? 1)
---

<div
  class="relative w-full h-[25svh] md:w-[52svh] md:h-[38svh] rounded-2xl overflow-hidden
  border border-white/10"
  aria-label={`${name} screenshots`}
  role="img"
>
  {
    images?.map((src, i) => (
      <img
        src={`/images/${src}`}
        class="absolute inset-0 w-full h-full object-fill select-none will-change-opacity"
        style={`animation: fade ${total}ms ease-in-out infinite; animation-delay: ${i * delay}ms;`}
        loading={i === 0 ? "eager" : "lazy"}
        decoding="async"
        draggable="false"
      />
    ))
  }
</div>

<style>
  @keyframes fade {
    0% {
      opacity: 0;
      transform: scale(1.01);
    }
    8% {
      opacity: 1;
      transform: scale(1);
    }
    32% {
      opacity: 1;
      transform: scale(1);
    }
    40% {
      opacity: 0;
      transform: scale(1.01);
    }
    100% {
      opacity: 0;
      transform: scale(1.01);
    }
  }
</style>
