---
interface Props {
  id?: string
  class?: string
  header?: boolean
  title?: string
  subtitle?: string
}

const { id, class: className, header, title, subtitle } = Astro.props as Props
---

<section
  id={id}
  class={`relative h-[100svh] w-full overflow-hidden px-4 md:px-8 ${className ?? ""}`}
>
  {
    header && (
      <div class="relative z-50 mt-18">
        <h1 class="text-[36px] md:text-[76px] font-bold">{title}</h1>
        <p class="text-[18px] md:text-[26px]">{subtitle}</p>
      </div>
    )
  }

  <slot />
</section>
