---

---

<div id="about" class="h-[100svh] w-full overflow-hidden">
  <div class="relative z-10 px-8 py-8 mt-18">
    <h1 class="text-[36px] md:text-[76px] font-bold">About</h1>
    <p class="text-[18px] md:text-[26px]">About me</p>
  </div>
</div>
