---
import ContactForm from "../components/ContactForm.astro"
import SectionLayout from "../components/SectionLayout.astro"
---

<SectionLayout
  id="contact"
  header
  title="Get in Touch"
  subtitle="I am available to work on your projects and bring your ideas to life."
>
  <video
    id="contactVideo"
    class="absolute bottom-0 left-0 w-full h-full object-cover object-[0%_100%] z-0"
    autoplay
    muted
    loop
    playsinline
  >
    <source src="/videos/contact-video.mp4" type="video/mp4" />
  </video>

  <div
    class="pointer-events-none absolute inset-0 z-10
           bg-[linear-gradient(to_top,#090b11_0%,transparent_28%),linear-gradient(to_bottom,#090b11_0%,transparent_80%)]"
    aria-hidden="true"
  >
  </div>
  <ContactForm />
</SectionLayout>
