---
import ContactForm from "../components/ContactForm.astro"
---

<div
  id="contact"
  class="relative h-[100svh] w-full overflow-hidden bg-[#090b11]"
>
  <video
    class="absolute bottom-0 left-0 w-full h-[90svh] object-cover object-[0%_100%] z-0"
    autoplay
    muted
    loop
    playsinline
  >
    <source src="/videos/contact-video.mp4" type="video/mp4" />
  </video>

  <div
    class="absolute inset-x-0 bottom-0 h-[90svh] pointer-events-none z-10"
    style="background: linear-gradient(to top, rgba(9,11,17,0.0) 70%, #090b11 100%);"
  >
  </div>

  <div class="relative z-20 px-8 py-8 mt-18">
    <h1 class="text-[100px] font-bold">Get in Touch</h1>
    <p class="text-[26px]">
      I am available to work on your projects and bring your ideas to life.
    </p>

    <ContactForm />
  </div>
</div>

<script is:inline>
  const video = document.getElementById("contactVideo")
  if (video) {
    video.playbackRate = 0.7
  }
</script>
