---
import { getCollection } from "astro:content"
import SectionLayout from "../components/SectionLayout.astro"
import PortfolioSwiper from "../components/PortfolioSwiper.tsx"

const projects = await getCollection("projects")
const sortedProjects = projects.sort((a, b) => a.data.id - b.data.id)
---

<SectionLayout
  id="portfolio"
  header
  title="Portfolio"
  subtitle="A look at my journey through design, development, and innovation."
  fullHeight={false}
>
  <div class="max-w-6xl mx-auto my-20">
    <PortfolioSwiper projects={sortedProjects} client:load />
  </div>
</SectionLayout>
