---
import BackgroundShape from "../components/BackgroundShape.astro"
---

<div id="welcome" class="relative min-h-screen flex items-center z-50 p-8">
  <BackgroundShape />
  <div
    class="flex flex-col gap-3 justify-start md:translate-x-[5vh] md:-translate-y-[6vh]"
  >
    <h3 class="text-2xl md:text-4xl lg:text-6xl text-white font-bold">
      Hi there, I am
    </h3>
    <h1
      class="text-5xl md:text-7xl lg:text-9xl font-bold whitespace-nowrap
      text-white"
    >
      Wilfredo Diaz
    </h1>
    <p class="md:text-xl lg:text-2xl text-wrap:balance prose prose-invert">
      A Full Stack Software Engineer focused on crafting web applications that
      offer seamless user experiences and visually appealing interfaces.
    </p>
  </div>
</div>
